/* Imports */
@import "reset.css";
@import "button.css";

/* Variables */
@accentColor: #0f8491;
@bgGrey: #f0f0f0;
@darkGrey: #888;
@lightGrey: lightgrey;

@boxShadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);


body{
    background-color: @bgGrey;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 320px;
}

@media (max-width: 500px){
    body{
        font-size: 14px;
    }
}

.overlay{
    background-color: #000;
    bottom: 0;
    cursor: pointer;
    left:0;
    opacity: 0;
    position:fixed;
    top:0;
    right: 0;
    z-index:-1;
}

nav{
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9001;
    
    >button{
        background: transparent;
        border: none;
        cursor: pointer;
        height: 45px;
        margin-left:20px;
        margin-top: 25px;
        position: relative;
        width: 45px;
        z-index:2;

        &:active,&:focus{
            outline:none;
        }
        span{
            background-color: @accentColor;
            border-radius: 3px;
            display: block;
            font-size: 0;
            height: 6px;
            position: absolute;
            width: 45px;
            transition: .7s ease-in-out;
        }

        span:nth-child(1){
            top:0px;
        }
        span:nth-child(2){
            top:15px;
        }
        span:nth-child(3){
            top:30px;
        }
    }
    
    ul{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: @accentColor;
        overflow: hidden;
        width: 0;
        padding-top: 100px;
        z-index:1;
        transition: .5s ease-in-out;
        
        li{            
            width:250px;
            padding: 0 20px;
            min-height: 50px;
            line-height:50px;
            &.section-title{
                font-weight: 700;
            }
            &:not(.section-title):hover{
                background-color: rgba(0,0,0,0.1);
            }
            a{
                color: #fff;
                cursor: pointer;
                text-decoration: none;
                display: block;
                width: inherit;
                height: inherit;
            }
        }
    }
}
.nav-active{
     nav{
        button{
            span:nth-child(1),
            span:nth-child(2),
            span:nth-child(3){
                background-color: #fff;
            }
            span:nth-child(1){
                width: 50px;
                top: 15px;
                transform: rotateZ(-45deg) rotateY(180deg);
            }
            span:nth-child(2){
                transform: rotateY(90deg);
            }
            span:nth-child(3){
                width: 50px;
                top: 15px;
                transform: rotateZ(45deg) rotateY(180deg);
            }
        }
        ul{
            width:250px;
            transition: .5s ease-in-out;
        }
     }
     
     .overlay{
         z-index: 9000;
         opacity: 0.7;
         transition: opacity .5s ease-in;
     }

}

.section{
    padding: 30px;

    .section-content{
        border: 1px solid @accentColor;
        margin: 0 auto;
        max-width: 800px;
        padding: 1em;
        position: relative;
        text-align: center;

    }

    .section-title {
        background: @bgGrey;
        color: @accentColor;
        display: inline-block;
        font-size: 2em;
        margin-top: -1.2em;
        padding: 0.2em 1em;
    }
}
#menu{
    position: fixed;
    right: 10px;
    top: ~"calc(50% - 30px)";
    z-index: 10;

    li{
        height: 16px;
        padding: 0;
        width: 15px;

        a{
            background-color: @accentColor;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 6px;
            margin: 5px auto;
            width:6px;
            transition: all 0.5s ease-in-out;

            &:hover{
                height: 10px;
                margin: 5px auto;
                width: 10px;
                transition: all 0.2s ease-in-out;
            }
        }
        &.active a{
            height: 12px;
            margin: 2px auto;
            width:12px;            
        }
    }
}

.plain-page{
    padding: 75px 40px 0 40px;
}
/* Profil */
.photo img{
    border-radius: 50%;
    width: 200px;
    
}

/* Competences */
#competences{
    .simple-list >li{
        margin-bottom: 10px;

        >p{
            font-weight: 600;
        }
    }
    .float-list{
        margin: 0 auto; 

        > li{
            border: 1px solid @lightGrey;
            display: inline-block;
            padding: 4px;
            margin: 0 2px;
        }   
    }
}

/* Experiences */
#experiences{
    .job{
        & + .job{
            margin-top: 20px;   
        }

        .title,
        .employer{
            display: inline-block
        }

        .title {
            font-weight: 600;

            &::after {
                content: ' - ';
                display: inline;
            }
        }

        .description {
            color: #444;
            text-align: justify;
        }
    }
}
/* Scholarship */ 
#scholarship{
    .school + .school{
        margin-top: 20px;
    }
    .school .course{
        font-weight: 600;
    }
} 


/* Contact */
#contact{
    p{
        padding: 5px;
    }
    .linkedin-link::before{
        color: #0077b5;
        content: "\f08c";
        display: inline;
        font-family: 'FontAwesome';
        font-size: 1em;
        text-decoration: none;
    }
}

.back-to-top{
    margin: 0 auto;
    margin-top: 100px;
}