/* Imports */
@import "reset.css";
@import "button.css";
/* Variables */
body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: 320px;
}
.section {
  padding: 30px;
}
.section .section-content {
  border: 1px solid lightgrey;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 1em;
  position: relative;
}
.section .section-title {
  background: #f0f0f0;
  color: lightgrey;
  display: inline-block;
  font-size: 2em;
  margin-top: -1.2em;
  padding: 0.2em 1em;
}
#menu {
  position: fixed;
  right: 23px;
  top: 50%;
  z-index: 10;
}
#menu li {
  height: 16px;
  width: 15px;
  padding: 0;
}
#menu li a {
  cursor: pointer;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #888;
  display: block;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}
#menu li a:hover {
  height: 10px;
  width: 10px;
  margin: 5px auto;
  transition: all 0.2s ease-in-out;
}
#menu li.active a {
  height: 12px;
  width: 12px;
  margin: 2px auto;
}
.photo img {
  border-radius: 50%;
  width: 200px;
}
/* Competences */
#competences .simple-list > li {
  margin-bottom: 10px;
}
#competences .simple-list > li > p {
  font-weight: 600;
}
#competences .float-list {
  margin: 0 auto;
}
#competences .float-list > li {
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 4px;
  margin: 0 2px;
}
/* Experiences */
#experiences .job + .job {
  margin-top: 20px;
}
#experiences .job .title,
#experiences .job .employer {
  display: inline-block;
}
#experiences .job .title {
  font-weight: 600;
}
#experiences .job .title::after {
  content: ' - ';
  display: inline;
}
#experiences .job .description {
  color: #444;
  text-align: justify;
}
/* Scholarship */
#scholarship .school + .school {
  margin-top: 20px;
}
#scholarship .school .course {
  font-weight: 600;
}
/* Contact */
#contact p {
  padding: 5px;
}
#contact .linkedin-link::before {
  color: #0077b5;
  content: "\f08c";
  display: inline;
  font-family: 'FontAwesome';
  font-size: 1em;
  text-decoration: none;
}
.back-to-top {
  margin: 0 auto;
  margin-top: 100px;
}
